@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

:root {
  --main-text-color: #436096;
  --heading-color:#616894;
  --background-color: #ccd4e3 ;
  --link-color: #396E94;
}

body {
  font-family: 'Roboto',Rubik Vinyl;
  background-color:var(--background-color);
  color:var(--main-text-color);
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: center; 
  padding: 20px;
  background-color: var(--background-color);
}

 h1, h2 {
  color: var(--headline-color);
  font-family:'Roboto', sans-serif;
  font-size:2rem;
}

p {
  font-family:'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 1.5rem;
}

nav {
  background-color: var(--background-color);
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

nav a {
  padding: 10px; 
  text-decoration: none;
  color: var(--link-color); 
  margin-left: 20px;
  font-weight: bold;
}

nav a:link, 
nav a:visited {
  color: var(--link-color);
}

nav a:hover {
  color: #fff; 
  background-color: var(--link-color); 
}

h1, 
#hero {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--main-text-color);
  top: -680px;
  border: 1px solid var(--main-text-color);
  background-color: rgba(204, 227, 226, 0.484);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero > img:first-child:not(article img) {
  width: 100%;
  margin-bottom: -250px;
}

article{
  position: relative;
  width: 80%;
  margin:auto;
  top: -670px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1px;
  border: 1px solid var(--main-text-color);
  background-color: rgba(173, 216, 230, 0.5);
  height: auto;
}

article img {
  float:right;
  width: 20%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

article p {
  width: 70%; 
  margin-right: 25%; 
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
}

.logo {
  font-size: 1.5em;
}

.logo img {
  max-width: 100%; 
}

nav a:first-child {
  margin-left: 0; 
}

.history {
  text-align: center;
  padding: 20px;
}

.history h2 {
  margin-bottom: 15px;
}

.history img {
  max-width: 50%;
  margin-bottom: 20px;
}

.content-container {
  display: grid;
  grid-template-columns: 2fr 50% 2fr;
  grid-column-gap: 5px;
}

.text-container {
  max-width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adventures {
  text-align: center;
  padding: 20px;
}

.adventures h2 {
  margin-bottom: 15px;
}

.adventures-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adventures-container figure {
  flex: 1;
  margin: 0 5px;
}

.adventures-container img {
  width: 80%;
  height: auto;
}

.adventures-container figcaption {
  margin-top: 10px;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 20px;
}

footer img {
  width: 40px; 
  margin-left: 20px; 
}

footer p {
  margin-right: 350px;
}

.info-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin: -30px auto;
  max-width: 800px;
}

.info-box section{
  margin-bottom: 20px;
}

.contact-info, 
.google-map {
  margin-bottom: 20px;
  text-align: center;
}

.contact-info h2
.google-map h2 {
  margin: 0;
}

.contact-info p,
.google-map iframe {
  margin: 10px 0;
}

.contact-form {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-form h2 {
  font-size: 40px; 
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 18px; 
  margin-bottom: 5px; 
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  padding: 12px;
  font-size: 16px; 
  margin-bottom: 10px; 
  width: 100%;
}

.contact-form fieldset {
  width: 100%; 
  margin-bottom: 15px;
  border: 2px solid var(--heading-color);
  border-radius: 8px;
  padding: 10px;
}

.contact-form button[type="submit"] {
  padding: 12px 30px;
  font-size: 18px; 
  width: 52.5%;
  background-color: var(--link-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--background-color) 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.employee-profiles {
  text-align: center;
  margin-top: 50px;
}

.employee-profiles h2 {
  text-align: center;
  margin-top: 50px;
}

.employee-profiles .adventures-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-profiles figure {
  flex: 1;
  margin: 0 5px;
}

.employee-profiles img {
  width: 80%;
  height: auto;
}

.employee-profiles figcaption {
  margin-top: 10px;
  font-style: italic;
}
