:root {
  --main-text-color: #436096;
  --heading-color: #616894;
  --background-color: #ccd4e3;
  --link-color: #396E94;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

.container{
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-title {
  text-align: center;
  color: var(--heading-color);
  font-size: 34px;
  margin-bottom: 20px;

}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--heading-color);
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: var(--main-text-color);
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: var(--link-color);
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}